
body {
    /*Add google fonts here */ 
   
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
    
}
main {
    background-color: rgb(255, 250, 240);
}
header {
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}
p {
    color: rgb(34, 34, 34);
}
/*********************/

/* Hero Section, Main Nav and Logo for all pages  */

/********************/
.hero-container {
    width: 100%;
    height: 100vh;
    color: rgb(255, 250, 240);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../Images/peggy-anke-Wu2MXvbyt7w-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}
.logo {
    color: rgb(70, 195, 193);
    font-size: 30px;
}
.navbar ul li {
    display: inline-block;
    list-style-type: none;
    padding: 15px;
}
.navbar ul li a {
    color: rgb(255, 250, 240);
    text-decoration: none;
    font-weight: bold;
}
.navbar ul li a:hover {
    color: rgb(70, 195, 193);
}
button {
    padding: 10px;
    border-radius: 20px;
}
button:hover {
    background-color: rgb(70, 195, 193);
}

.hero-text-container {
    /* border: 2px solid red;*/
    height: 75%;
    padding: 10%;
    margin: 30px;
}
.hero-text-container .hero-info h1 {
    font-size: 2.5em;
    margin: 10px;
}
.hero-text-container .hero-info h2 {
    font-size: 1.5em;
    margin: 10px;
}
.hero-text-container .hero-info p {
    margin: 20px;
}
#active {
    border: 2px solid rgb(252, 71, 66);
    border-radius: 20px;
}
h2 {
    color: rgb(34, 34, 34);
}

/* Three column sections */

.three-column-container {
    display: flex;
    justify-content: space-between;
}

.column-one,
.column-two,
.column-three {
    flex: 1; /* each column takes up same amount of space */
    padding: 5px;
    margin: 5px;
    background-color: rgb(70, 195, 193);
    border-radius: 20px;
}

/* h2 section heading */
.section-heading {
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    border-top: 2px solid rgb(70, 195, 193);
}

/* Gallery Section with 3 columns  */

.gallery-container {
    display: flex;
    justify-content: space-between;
}
.gallery-item {
    border-radius: 20px;
    margin: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: calc(100% / 3);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
.gallery-item h3,
.gallery-item p,
.gallery-item button {
    margin: 10px;
}

/* Newsletter signup form flex container */
.newsletter-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(70, 195, 193);
    padding: 2%;
}

/* inherit from two column section */

#newsletter-text {
    color: rgb(255, 250, 240);

    padding: 2%;
}
input[type="text"],
input[type="submit"],
input[type="email"] {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
}

input[type="submit"] {
    background: rgb(252, 71, 66);
}
input[type="submit"]:hover {
    background-color: aqua;
}

/* Footer Section */
footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;

}
.footer-sections-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-section{
    flex: 1;
}
.footer-section nav ul {
    margin: 5px;
    list-style-type: none;
    
    text-align: left;
    font-size: 1em;
}
.footer-section nav a {
    text-decoration: none;
    color: rgb(34, 34, 34);
}

/*  Two column container  */
.two-column-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

/* 2 column section for text / video content  */
.two-column-text,
.video-content {
    flex: 1;
    /*border: 2px solid red;*/
    align-items: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(70, 195, 193);
    border-radius: 20px;
}

/*  table css */
table {
    width: 100%;
    padding: 20px;
}
table caption {
    margin: 10px;
    font-size: 20px;
}
table,
th,
td {
    color: rgb(34, 34, 34);
}
table th {
    background-color: rgb(70, 195, 193);
}
table td {
    background-color: lightgray;
}
.ordered-list {
    padding: 40px;
    color: rgb(34, 34, 34);
}
.unordered-list {
    padding: 40px;
    color: rgb(34, 34, 34);
    font-weight: bold;
}
.contact-form-container {
    background-color: rgb(70, 195, 193);
    padding: 50px;
}
#more-info {
    width: 100%;
    height: 200px;
}
.button-link {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
