body {
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    padding: 0;
    margin: 0;
}
main {
    margin-right: 10%;
    margin-left: 10%;
}
/* Hero Section & main nav  for all pages */
.hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: rgb(255, 250, 240);
}
#homepage-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../Images/peggy-anke-Wu2MXvbyt7w-unsplash_11zon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#bogota-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../Images/michael-baron-YQSXw2YVqyU-unsplash_11zon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#krakow-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../Images/tomasz-tomal-2lK0291iNHI-unsplash_11zon\ \(3\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#lisbon-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../Images/tom-byrom-hgFX7SydvFk-unsplash_11zon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#newbie-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../Images/mantas-hesthaven-_g1WdcKcV3w-unsplash_11zon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#contact-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../Images/helena-lopes-1m2LQEonm2A-unsplash_11zon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}
/*Text logo in hero section */
.logo {
    color: rgb(70, 195, 193);
    font-size: 2em;
}
.navbar ul li {
    display: inline-block;
    list-style-type: none;
    padding: 1em;
}
.navbar ul li a {
    color: rgb(255, 250, 240);
    text-decoration: none;
    font-weight: bold;
}
.navbar ul li a:hover {
    color: rgb(70, 195, 193);
}
/* Hero text container */ 
.hero-text-container {
    padding: 5%;
    margin: 2em;
}
.hero-text-container h1 {
    font-size: 2.5em;
    margin: 1em;
    color: white;
}
.hero-text-container h2, p{
    font-size: 1.5em;
    margin: 1em;
    color: white;
}
#active {
    border: 2px solid rgb(252, 71, 66);
    border-radius: 1.5em;
}
p{
    font-size: 1.2em;
    color: rgb(34, 34, 34);
}
/* h2 section headings */
.section-heading {
    padding: 2%;
    font-size: 1.2em;
    text-align: left;
    margin-top: 3%;
}
/* Flexbox three column sections  */
.flex-three-column-container {
    display: flex;
    flex-direction: column;
}
.three-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.column-one,
.column-two,
.column-three {
    flex: 1; 
    padding: 2%;
    margin: 1.5%;
    text-align: center;
    background-color: rgb(70, 195, 193);
    border-radius: 1.5em;
}
/* Flexbox two column sections  */
.flex-two-column-container {
    display: flex;
    flex-direction: column;
}
/*  Two column container  */
.two-column-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* 2 column section for text / video content  */
.left-column,
.right-column {
    flex: 1;
    margin: 1.5%;
    border-radius: 1.5em;
}
.left-column iframe,
.right-column iframe {
    width: 80%;
    height: auto;
    min-height: 350px;
    min-width: 350px;
    border: none;
}
.left-column img,
.right-column img {
    width: 80%;
    height: auto;
    min-height: 350px;
    min-width: 350px;
    border: none;
}
.unordered-list {
    padding: 2em;
    margin: 2em;
    background-color: rgb(70, 195, 193);
    border-radius: 20px;
}

/* Gallery Section with 3 columns  */
.flex-galllery-container {
    display: flex;
    flex-direction: column;
}
.gallery-container {
    display: flex;
    justify-content: space-between;
}
.gallery-item {
    border-radius: 20px;
    margin: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: calc(100% / 3);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
.gallery-item h3,
.gallery-item p,
.gallery-item button {
    margin: 10px;
}
/* Newsletter signup form flex container */
.newsletter-flex-container {
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.newsletter {
    display: flex;
    justify-content: space-between;
    background-color: rgb(70, 195, 193);
    border-radius: 1.5em;
    padding: 2%;
}
#newsletter-text {
    color: rgb(255, 250, 240);
    padding: 2%;
}

input[type="text"],
input[type="submit"],
input[type="email"] {
    padding: 10px;
    border-radius: 1.5em;
    margin-bottom: 20px;
    width: 80%;
}

input[type="submit"] {
    background: rgb(252, 71, 66);
}
input[type="submit"]:hover {
    background-color: aqua;
}

/*  tables  */
table {
    width: 100%;
    padding: 2%;
    margin: 2%;
   
    
}
table th {
    background-color: rgb(70, 195, 193);
    padding: 2%;
}
table td {
    background-color: lightgray;
    padding: 2%;
}

/* Lists */
.ordered-list {
    padding: 40px;
    color: rgb(34, 34, 34);
}
.unordered-list {
    padding: 40px;
    color: rgb(34, 34, 34);
    font-weight: bold;
}
/* Contact forms */
.contact-form-container {
    background-color: rgb(70, 195, 193);
    padding: 5%;
    border-radius: 1.5em;
    margin: 5%;
}
#more-info {
    width: 100%;
    height: 200px;
}
.button-link {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 1.5em;
}

/* Footer Section */
footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
}
/* Flex footer container */
.flex-footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.footer-sections-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-section {
    flex: 1;
    text-align: left;
}
.footer-section nav ul {
    margin: 5px;
    list-style-type: none;
    text-align: left;
    font-size: 1.5em;
}
.footer-section nav a {
    text-decoration: none;
    color: rgb(34, 34, 34);
}
